<launch> 
	<!-- Create a folder named as the name of .world and .yaml under package/maps folder
		 Example: World named "myworld.world"
		 		  Map named "myworld.yaml" along with its png
		 		  Octomap named "myworld.ot"
		 		  package_folder = path/to/amcl_lib_pf
		 		  Place these files in the folder path/to/amcl_lib_pf/maps/myworld
		 		  Launch via roslaunch amcl_lib_pf robot_move_map map:=myworld  -->
	<arg name="map" default="corridor"/>
	<arg name="map_file" default="$(find amcl_lib_pf)/maps/$(arg map)/$(arg map).yaml"/>
	<arg name="world_file" default="$(find amcl_lib_pf)/maps/$(arg map)/$(arg map).world"/>
	<arg name="octomap_file" default="$(find amcl_lib_pf)/maps/$(arg map)/$(arg map).ot"/>
	
	<!-- Localization Parameters-->
	<arg name="laser"	default="true"/>
    <arg name="depth"	default="false"/>
    <arg name="rgb"		default="false"/>
    <arg name="particles" default="300"/>
		
	<!-- Launch world in gazebo with turtlebot already there -->		
	<include file="$(find amcl_lib_pf)/launch/willow-with-turtlebot.launch">
		<arg name="world_file" value="$(arg world_file)"/>
	</include>
	
	<!-- Load 2D Occupancy Map -->
	<include file="$(find amcl_lib_pf)/launch/map_load.launch">
		<arg name="map_file" value="$(arg map_file)"/>
	</include>

	<!-- Load 3D Octomap Map -->
	<include file="$(find amcl_lib_pf)/launch/map_load_octomap.launch">
		<arg name="map_file" value="$(arg octomap_file)"/>
	</include>

    <!-- Load Localization Unit -->
    <include file="$(find amcl_lib_pf)/launch/amcl_demo.launch">
        <arg name="laser"	default="$(arg laser)"/>
        <arg name="depth"	default="$(arg depth)"/>
        <arg name="rgb"		default="$(arg rgb)"/>
        <arg name="particles" default="$(arg particles)"/>
    </include>

	<!-- Launch turtlebot_navigation move_base with overiden parameters -->  
	<include file="$(find amcl_lib_pf)/launch/move_base.launch"/>
	
  
</launch>
